@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import "tailwindcss";

@theme{
  --font-IBP:"IBM Plex Sans", sans-serif;
  --font-YEL:"Yellowtail", cursive;
  --font-AL:"Arizonia", cursive;
}